{% extends 'base.html' %}

{% block content %}
    <div class="well paper-pile slide-text">
        <div class="navbar navbar-heading">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">
                    <a class="brand" href="#">Laços e repetições!</a>
                </div>
            </div>
        </div>
        
        <div class="c-alert pillow-emboss">
            <div class="alert-message info">
                <a class="close" href="#"><i class="icon-large icon-remove-circle"></i></a>
                <h4 class="alert-heading">
                    Estruturas de Repetição
                </h4>
            </div>
        </div>
<pre>
<strong>** Um simples "for" em uma lista.</strong>
# range() é uma função geradora, ela gera números, bem rápido :)
>>> lista = range(5)
>>> print lista
[0, 1, 2, 3, 4]

>>> for item in lista:
...     item
...     
0
1
2
3
4
<strong>** Nada demais...</strong>

>>> nomes = ['Jõao', 'Maria', u'José']
>>> for nome in nomes:
...     print u"Olá %s!" % nome
...     
Olá joao!
Olá julia!
Olá maria!
Olá zé!
<strong>** So good!</strong>

<strong>** Magia Negra!!!</strong>
>>> [n for n in range(20) if n % 2 == 0] # Pares
>>> [n for n in range(20) if n % 2 == 1] # Impares

<strong>** For com uma linha?! 
como pode?! e a identação?!
- Meu jovem...
Python é Multi-paradigma, esqueceu foi?!
isso ai é macumba de linguagem funcional!</strong>

<strong>** O While é bobo... e não tem Do-While!</strong>
>>> while True:
...     print u"Python é a melhor"
</pre>
        <div class="c-alert pillow-emboss">
            <div class="alert-message error">
                <a class="close" href="#"><i class="icon-large icon-remove-circle"></i></a>
                <h4 class="alert-heading">Teste seus conhecimentos!</h4>
                1- Faça um programa que mostre todos os primos entre 1 e N sendo N um número inteiro fornecido pelo usuário.
                <br>
                2- Converta esta lista [1, 3, 5, 6, 8] para extenso, guarde em outra lista na mesma ordem e as mostre.
            </div>
        </div>
    </div>
{% endblock content %}